<fieldset [formGroup]="form.formGroup" class="container">
  <legend>Medical Droid form</legend>

  <mat-form-field>
    <input
      matInput
      type="color"
      placeholder="Color"
      [formControlName]="form.formControlNames.color"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Name" [formControlName]="form.formControlNames.name" autocomplete="off" />
  </mat-form-field>

  <mat-slide-toggle [formControlName]="form.formControlNames.canHealHumans">Can heal humans</mat-slide-toggle>

  <mat-slide-toggle [formControlName]="form.formControlNames.canFixRobots">Can fix robots</mat-slide-toggle>
</fieldset>
