<fieldset [formGroup]="form.formGroup" class="container">
  <legend>Crew members form</legend>

  <div
    class="crew-member"
    [formArrayName]="form.formControlNames.crewMembers"
    *ngFor="let crewMember of form.formGroup.controls.crewMembers.controls; let i = index"
  >
    <app-crew-member [formControl]="crewMember"></app-crew-member>

    <button mat-mini-fab color="primary" (click)="removeCrewMember(i)" [disabled]="form.formGroup.disabled">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <button
    mat-raised-button
    data-btn-add-crew-member
    color="primary"
    class="add-crew-member"
    (click)="addCrewMember()"
    [disabled]="form.formGroup.disabled"
  >
    Add a crew member
  </button>
</fieldset>
