<fieldset [formGroup]="formGroup" class="container">
  <mat-form-field>
    <input matInput type="text" placeholder="ID" [formControlName]="controlsNames.id" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Price" [formControlName]="controlsNames.price" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select vehicule type" [formControl]="selectVehiculeType">
      <mat-option *ngFor="let vehiculeType of (VehiculeType | keyvalue)" [value]="vehiculeType.value">
        {{ vehiculeType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div [ngSwitch]="selectVehiculeType.value">
    <app-spaceship *ngSwitchCase="VehiculeType.SPACESHIP" [formControlName]="controlsNames.product"></app-spaceship>

    <app-land *ngSwitchCase="VehiculeType.LAND" [formControlName]="controlsNames.product"></app-land>
  </div>
</fieldset>
