<mat-form-field>
  <mat-select placeholder="Select sell type" [formControl]="selectSellType">
    <mat-option *ngFor="let sellType of (SellType | keyvalue)" [value]="sellType.value">
      {{ sellType.value }}
    </mat-option>
  </mat-select>
</mat-form-field>

<form [formGroup]="sellForm">
  <div [ngSwitch]="selectSellType.value">
    <app-droid-sell *ngSwitchCase="SellType.DROID" formControlName="sell"></app-droid-sell>

    <app-vehicule-sell *ngSwitchCase="SellType.VEHICULE" formControlName="sell"></app-vehicule-sell>
  </div>

  <button mat-raised-button (click)="upsertSell(sellForm.get('sell').value)" [disabled]="sellForm.invalid">Upsert</button>
</form>

<pre>{{ sellForm.value | json }}</pre>

<div *ngIf="sellForm.invalid">
  Form's invalid
</div>
