<fieldset [formGroup]="form.formGroup" class="container" data-crew-member>
  <legend>Crew member form</legend>

  <mat-form-field>
    <input
      matInput
      data-input-crew-member-first-name
      type="text"
      placeholder="First name"
      [formControlName]="form.formControlNames.firstName"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      data-input-crew-member-last-name
      type="text"
      placeholder="Last name"
      [formControlName]="form.formControlNames.lastName"
      autocomplete="off"
    />
  </mat-form-field>
</fieldset>
