<fieldset [formGroup]="formGroup" class="container">
  <legend>Protocol Droid Form</legend>

  <mat-form-field>
    <input matInput type="color" placeholder="Color" [formControlName]="formControlNames.color" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Name" [formControlName]="formControlNames.name" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select spoken languages" multiple [formControlName]="formControlNames.spokenLanguages">
      <mat-option *ngFor="let language of (Languages | keyvalue)" [value]="language.value">
        {{ language.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</fieldset>
