<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ formGroup.value?.title }}</mat-card-title>
    <mat-card-subtitle>{{ formGroup.value?.listing?.price }}</mat-card-subtitle>
  </mat-card-header>
  <div class="img-container">
    <img
      *ngIf="formGroup.value?.imageUrl"
      mat-card-image
      [src]="formGroup.value?.imageUrl"
      alt="Photo of {{ formGroup.value?.title }}"
    />
  </div>
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input matInput type="text" placeholder="ID" [formControlName]="formControlNames.id" autocomplete="off" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Title" [formControlName]="formControlNames.title" autocomplete="off" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Image Url"
          [formControlName]="formControlNames.imageUrl"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Price"
          [formControlName]="formControlNames.price"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Select listing type" [formControlName]="formControlNames.listingType">
          <mat-option *ngFor="let listingType of (ListingType | keyvalue)" [value]="listingType.value">
            {{ listingType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div [ngSwitch]="formGroup.get(formControlNames.listingType)?.value">
        <app-droid-product
          *ngSwitchCase="ListingType.DROID"
          [formControlName]="formControlNames.droidProduct"
        ></app-droid-product>

        <app-vehicle-product
          *ngSwitchCase="ListingType.VEHICLE"
          [formControlName]="formControlNames.vehicleProduct"
        ></app-vehicle-product>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="upsertListing(formGroup.value)" [disabled]="formGroup.invalid">
      Upsert
    </button>

    <div *ngIf="formGroup.invalid">
      Form is invalid
      <pre>{{ formGroup.controls.vehicleProduct.errors | json }}</pre>
    </div>
  </mat-card-actions>
</mat-card>

<pre>{{ formGroup.value | json }}</pre>
