<fieldset [formGroup]="form.formGroup" class="container">
  <legend>Vehicle form</legend>

  <mat-form-field>
    <mat-select
      data-select-vehicle-type
      placeholder="Select vehicle type"
      [formControlName]="form.formControlNames.vehicleType"
    >
      <mat-option
        data-select-vehicle-type-option
        *ngFor="let vehicleType of VehicleType | keyvalue"
        [value]="vehicleType.value"
      >
        {{ vehicleType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div [ngSwitch]="form.formGroup.value.vehicleType">
    <app-spaceship
      *ngSwitchCase="VehicleType.SPACESHIP"
      [formControlName]="form.formControlNames.spaceship"
    ></app-spaceship>

    <app-speeder *ngSwitchCase="VehicleType.SPEEDER" [formControlName]="form.formControlNames.speeder"></app-speeder>
  </div>
</fieldset>
