<fieldset [formGroup]="formGroup" class="container">
  <legend>Spaceship form</legend>

  <mat-form-field>
    <input
      matInput
      data-input-color
      type="color"
      placeholder="Color"
      [formControlName]="formControlNames.color"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-slide-toggle data-input-can-fire [formControlName]="formControlNames.canFire">Can fire</mat-slide-toggle>

  <mat-form-field>
    <input
      matInput
      data-input-number-of-wings
      type="number"
      placeholder="Number of wings"
      [formControlName]="formControlNames.wingCount"
      autocomplete="off"
    />
  </mat-form-field>

  <app-crew-members [formControlName]="formControlNames.crewMembers"></app-crew-members>
</fieldset>
