<fieldset [formGroup]="formGroup" class="container">
  <legend>Astromech Droid form</legend>

  <mat-form-field>
    <input matInput type="color" placeholder="Color" [formControlName]="formControlNames.color" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Name" [formControlName]="formControlNames.name" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Number of tools carried"
      [formControlName]="formControlNames.numberOfToolsCarried"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select the droid shape" [formControlName]="formControlNames.shape">
      <mat-option *ngFor="let shape of (AstromechDroidShape | keyvalue)" [value]="shape.value">
        {{ shape.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</fieldset>
