<fieldset [formGroup]="form.formGroup" class="container">
  <legend>Vehicle form</legend>

  <mat-form-field>
    <mat-select
      data-select-vehicle-type
      placeholder="Select vehicle type"
      [formControlName]="form.formControlNames.vehicleType"
    >
      @for (vehicleType of VehicleType | keyvalue; track vehicleType) {
      <mat-option data-select-vehicle-type-option [value]="vehicleType.value">
        {{ vehicleType.value }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div>
    @switch (form.formGroup.value.vehicleType) { @case (VehicleType.SPACESHIP) {
    <app-spaceship [formControlName]="form.formControlNames.spaceship"></app-spaceship>
    } @case (VehicleType.SPEEDER) {
    <app-speeder [formControlName]="form.formControlNames.speeder"></app-speeder>
    } }
  </div>
</fieldset>
