<fieldset [formGroup]="formGroup" class="container">
  <mat-form-field>
    <input matInput type="text" placeholder="ID" [formControlName]="controlsNames.id" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Title" [formControlName]="controlsNames.title" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Image Url" [formControlName]="controlsNames.imageUrl" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Price" [formControlName]="controlsNames.price" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select listing type" [formControl]="selectDroidType">
      <mat-option *ngFor="let droidType of (DroidType | keyvalue)" [value]="droidType.value">
        {{ droidType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div [ngSwitch]="selectDroidType.value" ngxSubFormOptions>
    <app-protocol-droid
      *ngSwitchCase="DroidType.PROTOCOL"
      ngxSubFormOption
      [formControlName]="controlsNames.product"
    ></app-protocol-droid>
    <app-medical-droid
      *ngSwitchCase="DroidType.MEDICAL"
      ngxSubFormOption
      [formControlName]="controlsNames.product"
    ></app-medical-droid>
    <app-astromech-droid
      *ngSwitchCase="DroidType.ASTROMECH"
      ngxSubFormOption
      [formControlName]="controlsNames.product"
    ></app-astromech-droid>
    <app-assassin-droid
      *ngSwitchCase="DroidType.ASSASSIN"
      ngxSubFormOption
      [formControlName]="controlsNames.product"
    ></app-assassin-droid>
  </div>
</fieldset>
