<fieldset [formGroup]="formGroup" class="container">
  <legend>Speeder Form</legend>

  <mat-form-field>
    <input
      matInput
      data-input-color
      type="color"
      placeholder="Color"
      [formControlName]="formControlNames.color"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-slide-toggle data-input-can-fire [formControlName]="formControlNames.canFire">Can fire</mat-slide-toggle>

  <mat-form-field>
    <input
      matInput
      data-input-number-of-people-on-board
      type="number"
      placeholder="Number of people on board"
      [formControlName]="formControlNames.numberOfPeopleOnBoard"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      data-input-maximum-speed
      type="number"
      placeholder="Maximum speed"
      [formControlName]="formControlNames.maximumSpeed"
      autocomplete="off"
    />
  </mat-form-field>
</fieldset>
