<fieldset [formGroup]="formGroup" class="container">
  <legend>Speeder Form</legend>

  <div class="colors" [formArrayName]="formControlNames.colors">
    <div class="color" *ngFor="let colorControl of colors.controls; let i = index">
      <mat-form-field>
        <input matInput type="color" [placeholder]="'Color ' + (i + 1)" [formControlName]="i" autocomplete="off" />
      </mat-form-field>

      <mat-icon class="delete-icon" (click)="deleteColor(i)">delete</mat-icon>
    </div>
  </div>

  <mat-slide-toggle [formControlName]="formControlNames.canFire">Can fire</mat-slide-toggle>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Number of people on board"
      [formControlName]="formControlNames.numberOfPeopleOnBoard"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Maximum speed"
      [formControlName]="formControlNames.maximumSpeed"
      autocomplete="off"
    />
  </mat-form-field>
</fieldset>
