<fieldset [formGroup]="form.formGroup" class="container">
  <legend>Droid form</legend>

  <mat-form-field>
    <mat-select
      data-select-droid-type
      placeholder="Select droid type"
      [formControlName]="form.formControlNames.droidType"
    >
      @for (droidType of DroidType | keyvalue; track droidType) {
      <mat-option data-select-droid-type-option [value]="droidType.value">
        {{ droidType.value }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div>
    @switch (form.formGroup.value.droidType) { @case (DroidType.PROTOCOL) {
    <app-protocol-droid [formControlName]="form.formControlNames.protocolDroid"></app-protocol-droid>
    } @case (DroidType.MEDICAL) {
    <app-medical-droid [formControlName]="form.formControlNames.medicalDroid"></app-medical-droid>
    } @case (DroidType.ASTROMECH) {
    <app-astromech-droid [formControlName]="form.formControlNames.astromechDroid"></app-astromech-droid>
    } @case (DroidType.ASSASSIN) {
    <app-assassin-droid [formControlName]="form.formControlNames.assassinDroid"></app-assassin-droid>
    } }
  </div>
</fieldset>
