<fieldset [formGroup]="formGroup" class="container">

  <mat-form-field>
    <mat-select placeholder="Select vehicle type" [formControlName]="formControlNames.vehicleType">
      <mat-option *ngFor="let vehicleType of (VehicleType | keyvalue)" [value]="vehicleType.value">
        {{ vehicleType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div [ngSwitch]="formGroup.get(formControlNames.vehicleType).value">
    <app-spaceship
      *ngSwitchCase="VehicleType.SPACESHIP"
      [formControlName]="formControlNames.spaceship"
    ></app-spaceship>

    <app-speeder
      *ngSwitchCase="VehicleType.SPEEDER"
      [formControlName]="formControlNames.speeder"
    ></app-speeder>
  </div>
</fieldset>
