<fieldset [formGroup]="formGroup" class="container">
  <mat-form-field>
    <input matInput type="text" placeholder="ID" [formControlName]="controlsNames.id" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Title" [formControlName]="controlsNames.title" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Image Url" [formControlName]="controlsNames.imageUrl" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Price" [formControlName]="controlsNames.price" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select vehicle type" [formControl]="selectVehicleType">
      <mat-option *ngFor="let vehicleType of (VehicleType | keyvalue)" [value]="vehicleType.value">
        {{ vehicleType.value }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div [ngSwitch]="selectVehicleType.value" ngxSubFormOptions>
    <app-spaceship
      *ngSwitchCase="VehicleType.SPACESHIP"
      ngxSubFormOption
      [formControlName]="controlsNames.product"
    ></app-spaceship>

    <app-speeder
      *ngSwitchCase="VehicleType.SPEEDER"
      ngxSubFormOption
      [formControlName]="controlsNames.product"
    ></app-speeder>
  </div>
</fieldset>
