// https://material.angular.io/guide/theming#sass

@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Comic Sans',
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

html {
  @include mat.elevation-classes();
  @include mat.app-background();

  // Include styles for all material components used in the application
  @include mat.button-theme($theme);
  @include mat.card-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.list-theme($theme);
  @include mat.option-theme($theme);
  @include mat.select-theme($theme);
  @include mat.slide-toggle-theme($theme);
  @include mat.toolbar-theme($theme);
}

// Override the theme for a specific component
.top-toolbar {
  --mat-toolbar-container-background-color: #3f51b5;
}

html,
body,
app-root {
  margin: 0;
  width: 100%;
  height: 100%;
}

fieldset {
  border: 1px solid grey;
  border-radius: 5px;

  &.ng-invalid {
    border-color: red;
  }

  legend {
    padding: 0 5px;
    color: grey;
  }
}

.not-visible {
  visibility: hidden;
}
