// https://material.angular.io/guide/theming#sass

@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 500);
$my-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$my-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);

html,
body,
app-root {
  margin: 0;
  width: 100%;
  height: 100%;
}

fieldset {
  border: 1px solid grey;
  border-radius: 5px;

  &.ng-invalid {
    border-color: red;
  }

  legend {
    padding: 0 5px;
    color: grey;
  }
}

.not-visible {
  visibility: hidden;
}
