@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body,
app-root {
  margin: 0;
  width: 100%;
  height: 100%;
}

fieldset {
  border: 1px solid grey;
  border-radius: 5px;


  &.ng-invalid {
    border-color: red;
  }

  legend {
    padding: 0 5px;
    color: grey;
  }

}
