<mat-card appearance="outlined" data-card-form>
  <mat-card-header>
    <mat-card-title data-title [class.not-visible]="!form.formGroup.value.title">
      {{ form.formGroup.value.title }}
    </mat-card-title>
    <mat-card-subtitle data-price [class.not-visible]="!form.formGroup.value.price">
      £{{ form.formGroup.value.price | number }}
    </mat-card-subtitle>
  </mat-card-header>
  <div class="img-container">
    <img
      *ngIf="form.formGroup.value.imageUrl"
      mat-card-image
      [src]="form.formGroup.value.imageUrl"
      alt="Photo of {{ form.formGroup.value.title }}"
    />
  </div>
  <mat-card-content>
    <form [formGroup]="form.formGroup">
      <mat-form-field>
        <input
          matInput
          data-input-id
          type="text"
          placeholder="ID"
          [formControlName]="form.formControlNames.id"
          autocomplete="off"
        />
      </mat-form-field>

      <!-- this is useful to make sure the type of the error is correct -->
      <!-- as it could be either an object or an array and AoT would notice if not correctly typed -->
      <mat-error data-input-id-error *ngIf="form.formGroupErrors?.id?.required">ID is required</mat-error>

      <mat-form-field>
        <input
          matInput
          data-input-title
          type="text"
          placeholder="Title"
          [formControlName]="form.formControlNames.title"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-error data-input-title-error *ngIf="form.formGroupErrors?.title?.required">Title is required</mat-error>

      <mat-form-field>
        <input
          matInput
          data-input-image-url
          type="text"
          placeholder="Image Url"
          [formControlName]="form.formControlNames.imageUrl"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-error data-input-image-url-error *ngIf="form.formGroupErrors?.imageUrl?.required">
        Image url is required
      </mat-error>

      <mat-form-field>
        <input
          matInput
          data-input-price
          type="number"
          placeholder="Price"
          [formControlName]="form.formControlNames.price"
          autocomplete="off"
        />
      </mat-form-field>

      <mat-error data-input-price-error *ngIf="form.formGroupErrors?.price?.required">Price is required</mat-error>

      <mat-form-field>
        <mat-select
          data-select-listing-type
          placeholder="Select listing type"
          [formControlName]="form.formControlNames.listingType"
        >
          <mat-option
            data-select-listing-type-option
            *ngFor="let listingType of ListingType | keyvalue"
            [value]="listingType.value"
          >
            {{ listingType.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div [ngSwitch]="form.formGroup.value.listingType">
        <app-droid-product
          *ngSwitchCase="ListingType.DROID"
          [formControlName]="form.formControlNames.droidProduct"
        ></app-droid-product>

        <app-vehicle-product
          *ngSwitchCase="ListingType.VEHICLE"
          [formControlName]="form.formControlNames.vehicleProduct"
        ></app-vehicle-product>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <!--
      `<div *ngIf="true">`... You could legitimely think that we're crazy or that ngx-sub-form
      is messing up with your form. In fact, it is not related to the lib at all. It has to do
      with how Angular analyze the DOM and the priorities during change detection.
      "But will I have to do that in my app too?" -*-*-> YES if you need to make a check based
      on the form validity.
      Please see that issue for more info
      https://github.com/angular/angular/issues/18004
      and that comment in particular
      https://github.com/angular/angular/issues/18004#issuecomment-328806479
      "But what if I don't do that?" -*-*-> Well you'll end up with the error we all know:
      `ExpressionChangedAfterItHasBeenCheckedError`. Please refer to comment if you want to
      know why
    -->
    <div *ngIf="true">
      <!-- @todo -->
      <button
        mat-raised-button
        color="primary"
        (click)="manualSave$$.next()"
        [disabled]="form.formGroup.invalid || form.formGroup.disabled"
      >
        Upsert
      </button>

      <div *ngIf="form.formGroup.invalid" class="invalid-form">Form is invalid</div>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined" class="errors" data-card-errors>
  <mat-card-title>Form errors</mat-card-title>

  <mat-card-content>
    <!--
      this is an important test as we want to make sure that `formGroupErrors` is null when there's no error
      if we return an empty object the `*ngIf` condition would be considered valid
    -->
    <pre *ngIf="form.formGroupErrors as errors; else noError" data-errors>{{ errors | json }}</pre>

    <ng-template #noError>
      <span data-no-error>Form is valid, no error!</span>
    </ng-template>
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined" class="values" data-card-values>
  <mat-card-title>Form values</mat-card-title>

  <mat-card-content>
    <pre>{{ form.formGroup.value | json }}</pre>
  </mat-card-content>
</mat-card>
