img {
  max-width: 300px;
  max-height: 500px;
  object-fit: contain;
}

.img-container {
  width: 100%;
  text-align: center;
}

mat-card {
  margin-bottom: 15px;
  max-width: 500px;

  mat-card-title,
  mat-card-subtitle {
    min-height: 25px;
  }

  &.errors,
  &.values {
    mat-card-content {
      overflow: auto;
    }
  }
}

mat-form-field {
  width: 100%;
}

.readonly {
  padding: 15px 0;
}

.invalid-form {
  padding: 15px 0;
}
