<fieldset [formGroup]="formGroup" class="container">
  <legend>Spaceship Form</legend>

  <mat-form-field>
    <input matInput type="color" placeholder="Color" [formControlName]="formControlNames.color" autocomplete="off" />
  </mat-form-field>

  <mat-slide-toggle [formControlName]="formControlNames.canFire">Can fire</mat-slide-toggle>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Number of wings"
      [formControlName]="formControlNames.numberOfWings"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Number of people on board"
      [formControlName]="formControlNames.numberOfPeopleOnBoard"
      autocomplete="off"
    />
  </mat-form-field>
</fieldset>
