<fieldset [formGroup]="formGroup" class="container">
  <mat-form-field>
    <input matInput type="text" placeholder="ID" [formControlName]="controlsNames.id" autocomplete="off" />
  </mat-form-field>

  <mat-form-field>
    <input matInput type="color" placeholder="Color" [formControlName]="controlsNames.color" autocomplete="off" />
  </mat-form-field>

  <mat-slide-toggle [formControlName]="controlsNames.canFire">Can fire</mat-slide-toggle>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Number of wings"
      [formControlName]="controlsNames.numberOfWings"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Number of people on board"
      [formControlName]="controlsNames.numberOfPeopleOnBoard"
      autocomplete="off"
    />
  </mat-form-field>
</fieldset>
